<!DOCTYPE html>
<html>
<head>
	<title>Index.html</title>
	<%- include ../partials/head.ejs %>
</head>
<body>
	<div class="container jumbotron">
		<h1 class="display-1">MoskyPro - Rockola</h1>
			<p class="lead">Bienvenido, por favor escanea esté codigo para iniciar.</p>
			<img src="<%=qrurl%>" width="60%" height="60%">
			<br>
		</div>
	</div>
</body>
</html>