<!DOCTYPE html>
<html>
<head>
	<title>Index.html</title>
	<%- include ../partials/head.ejs %>
</head>
<body>
	<div class="container jumbotron">
		<h1 class="display-1">MPro - Rockola</h1>
		<div class="row">
			<div class="col-lg">
				<img src="<%=qrurl%>" width="100%" height="100%">
			</div>
			<div class="col">
				Columna pequeña
				
				Escanea este codigo para crear una fiesta
			</div>
		</div>
	</div>
</body>
</html>