<!DOCTYPE html>
<html>
<head>
	<title>Index.html</title>
	<%- include ../partials/head.ejs %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg">
				Columna grande
			</div>
			<div class="col-sm">
				Columna pequeña
				<img src="<%=qrurl%>">
				Escanea este codigo para crear una fiesta
			</div>
		</div>
	</div>
</body>
</html>